{% extends 'polls/base.html' %}

{% block main_content %}
<h1>Choose a question</h1>
{% if latest_questions %}
    <ul>
    {% for question in latest_questions %}
        <li><a href={% url "polls:detail" question.id %}><b>{{question.question_text}}</b></a></li>
    {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if latest_questions.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ latest_questions.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ latest_questions.number }} of {{ latest_questions.paginator.num_pages }}
            </span>

            {% if latest_questions.has_next %}
                <a href="?page={{ latest_questions.next_page_number }}">next</a>
                <a href="?page={{ latest_questions.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
</div>
{% else %}
    <p>No Questions in the database.</p>
{% endif %}

{% endblock %}
